
#nav{
    text-align: center;
    background-color: navy;
    text-align: right;
    color: white;
    font-family: 'Style Script', cursive;
    font-size: 30px;
    font-style: oblique;
    border: thin;
    border-radius: 0px;
    letter-spacing: 7px;
}

#sources{
    text-align: justify;
    font-size: large;
    font-family: fantasy;
}

#tt{
    text-align: center;
    color:navy;
    font-family: cursive;
    font-style: inherit;
}

#vv{
    text-align: center;
    color: rgb(74, 158, 185);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#nav span{
    transition: .5s linear
  }
  #nav:hover span:nth-child(1){
    margin-right: 5px
  }
  #nav:hover span:nth-child(1):after{
    content: " ";
  }
  #nav:hover span:nth-child(2){
    margin-left: 30px
  }
  #nav:hover span{
    color: #fff;
    text-shadow: 0 0 10px #fff,
                 0 0 20px #fff, 
                 0 0 40px #fff;
  }

#btn{
    margin: 3px;
    background-color: rgb(41, 102, 182);
    color:white;
}




.column {
    float: inherit;
    width: 100%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
/* .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    /* padding: 16px;
    text-align: center;
    background-color: rgb(211, 243, 240);
  } */ 
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  #at1{
    margin: 0 -5px;
  }
  #at1:after {
    content: "";
    display: table;
    clear: both;
  }

  #at2{
    float: left;
    width: 50%;
    padding: 0 10px;
  }

  #at3{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #ffffff;
  }

  @media screen and (max-width: 600px) {
    #at2 {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
      }
  } 