{% import 'macros.html' as macro%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{title}} </title>
        {% else %}
        <title> News Dr. </title>
        {% endif %}
    </head>
    <body>
        <h1> Welcome to News Dr.</h1>
        <h4>Home to all quality news.</h4>
        <hr>
             <!-- News Sources section -->
            <h2>Our News Sources</h2>
            <ul>
               {{ macro.displaySourcesList(sources)}}
                
            </ul>
    </body>
</html>