<div class="container">
{% extends 'base.html' %}
{% import 'macros.html' as macro%}

<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@1,400;1,500&display=swap" rel="stylesheet">
{% endblock %}

        <!-- Content block -->
        {% block content %}
        <div class="container">
            <form>
                <input type="text" name="article_query" placeholder="Search for articles in a source" class="form-control">
                <input type="submit"  value="Submit" class="btn btn-info" id="btn">
            </form>

        </div>

        
             <!-- News Sources section -->
            <div class="card">
                <img src="/app/static/imgs/undraw_Posts_re_ormv.png" alt="">
                <div class="container_fluid"></div>
            <h2 id="tt">Our News Sources</h2>
            <ul id="sources">
               {{ macro.displaySourcesList(sources)}}
                
            </ul>
            </div>
            </div>
        {% endblock %}
</div>
